<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Grid</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<h3>Grid com 12 colunas</h3>
<ion-grid>
  <ion-row>
    <ion-col>Coluna 1</ion-col>
    <ion-col>Coluna 2</ion-col>
    <ion-col>Coluna 3</ion-col>
    <ion-col>Coluna 4</ion-col>
    <ion-col>Coluna 5</ion-col>
    <ion-col>Coluna 6</ion-col>
    <ion-col>Coluna 7</ion-col>
    <ion-col>Coluna 8</ion-col>
    <ion-col>Coluna 9</ion-col>
    <ion-col>Coluna 10</ion-col>
    <ion-col>Coluna 11</ion-col>
    <ion-col>Coluna 12</ion-col>
  </ion-row>
</ion-grid>
</ion-content>
