<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Checkbox</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Default Checkbox -->
  <ion-checkbox></ion-checkbox>

  <!-- Disabled Checkbox -->
  <ion-checkbox disabled></ion-checkbox>

  <!-- Checked Checkbox -->
  <ion-checkbox checked></ion-checkbox>

  <!-- Checkbox Colors -->
  <ion-checkbox color="primary"></ion-checkbox>
  <ion-checkbox color="secondary"></ion-checkbox>
  <ion-checkbox color="danger"></ion-checkbox>
  <ion-checkbox color="light"></ion-checkbox>
  <ion-checkbox color="dark"></ion-checkbox>

  <!-- Checkboxes in a List -->
  <ion-list>
    <ion-item>
      <ion-label>Pepperoni</ion-label>
      <ion-checkbox slot="end" value="pepperoni" checked></ion-checkbox>
    </ion-item>

    <ion-item>
      <ion-label>Sausage</ion-label>
      <ion-checkbox slot="end" value="sausage" disabled></ion-checkbox>
    </ion-item>

    <ion-item>
      <ion-label>Mushrooms</ion-label>
      <ion-checkbox slot="end" value="mushrooms"></ion-checkbox>
    </ion-item>
  </ion-list>

  <h3>Meses</h3>
  <ion-list>
    <ion-item *ngFor="let mes of meses">
      <ion-label>{{mes.nomeDoMes}}</ion-label>
      <ion-checkbox
        checked="{{mes.marcado}}"
        [(ngModel)]="mes.marcado"
        color="danger"
      ></ion-checkbox>
    </ion-item>
  </ion-list>
  <ion-button expand="block" (click)="exibirMeses()">Exibir meses marcados</ion-button>
</ion-content>
