<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Progess Bar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h1>Processando 80%</h1>
<ion-progress-bar value="0.8"></ion-progress-bar>
<br>
<h1>Processando 30%</h1>
<ion-progress-bar value="0.3" color="danger"></ion-progress-bar>
<br>
<h1>Processando Indeterminado</h1>
<ion-progress-bar value="0.3" color="dark" type="indeterminate" ></ion-progress-bar>
<br>
<h1>Processando Indeterminado reversed</h1>
<ion-progress-bar value="0.3" color="dark" type="indeterminate" reversed></ion-progress-bar>
<br>
</ion-content>
