<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Select</ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar
      [(ngModel)]="nome"
      (keyup)="filtrarItens($event)"
    ></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let pessoa of pessoasFiltradas">
      {{pessoa.nome}}
    </ion-item>
  </ion-list>

  <ion-searchbar color="danger" ></ion-searchbar>
  <ion-searchbar value="Ionic"></ion-searchbar>
  <ion-searchbar type="tel"></ion-searchbar>
  <ion-searchbar showCancelButton cancelButtonText="Cancelar operação"></ion-searchbar>
  <ion-searchbar animated placeholder="Buscar"></ion-searchbar>
  <ion-searchbar mode="md"></ion-searchbar>
</ion-content>
