<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Slide</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-slides pager="true" [options]="slideOpts">
  <ion-slide>
    <img src="https://m.media-amazon.com/images/M/MV5BMjE5MThjMzAtNWVmNC00YThkLTlmNzktMTM3Yzk4YTZhMTgwXkEyXkFqcGdeQXVyNTAyODkwOQ@@._V1_.jpg">
  </ion-slide>
  <ion-slide>
    <img src="https://wallpapercave.com/wp/wp4720117.jpg">
  </ion-slide>
  <ion-slide>
    <img src="https://images8.alphacoders.com/354/thumb-350-354091.jpg">
  </ion-slide>
</ion-slides>
</ion-content>
