<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Input</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-input></ion-input>
<ion-input value="12346"></ion-input>
<ion-input type="text" placeholder="Informe seu nome"></ion-input>
<ion-input  clearInput value="curso Ionic 5"></ion-input>
<ion-input type="number" value="1234"></ion-input>
<ion-input type="email" placeholder="Informe seu email"></ion-input>
<ion-input type="tel" placeholder="Informe seu telefone"></ion-input>
<ion-input type="url" placeholder="Informe sua url"></ion-input>
<ion-input type="search" placeholder="search"></ion-input>
<ion-input type="password" placeholder="Informe sua senha"></ion-input>

<ion-item>
  <ion-label>Sem position</ion-label>
  <ion-input type="text" placeholder="Informe seu primeiro nome"></ion-input>
</ion-item>
<ion-item>
  <ion-label position="floating">Floating</ion-label>
  <ion-input type="text" ></ion-input>
</ion-item>
<ion-item>
  <ion-label position="fixed">Fixed</ion-label>
  <ion-input type="text" ></ion-input>
</ion-item>
<ion-item>
  <ion-label position="stacked">Stacked</ion-label>
  <ion-input type="text" ></ion-input>
</ion-item>
<ion-item>
  
  <ion-input type="text" color="danger" placeholder="Informe seu nome"></ion-input>
</ion-item>
</ion-content>
